<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Comparison</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Stock Price Comparison</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/performance">Stock Performance</a>
            <a href="/correlation">Correlation</a>
            <a href="/events">Market Events</a>
            <a href="/prediction">Prediction</a>
            <a href="/statistics">Statistics</a>
            <a href="/comparison">Market Comparison</a>
        </nav>
    </header>
    <section>
        <div>
            {{ plot | safe }}
        </div>
    </section>
</body>
</html>
